/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
header {
    height: 55px;
    background: black;
    color: white;

}
nav *{
    float:left;
    width:10%;
    color:white;
    display: block;

}
nav ul{
    width:15%;
}
nav form input{
    width:100%;
}

main + section > section{
    float:left;
    width: 33.333%;
    border:1px solid black;
}
main> section{
    width:50%;
    height: 500px;
    float:left;
}

main section + section section{
    width: 50%;
    height: 250px;
    float:left;
    border: solid 1px black
}

.sectiondif{
    border: 5px solid red;

}
@media (max-width:1000px) {
    h2{
        color:red;

    }
    main section{
        width:100%;
    }
    main section + section{
        color:blue;
        width:100%;



    }


}

@media (max-width:500px) {
    h2{
        color:blue;

    }

    main section + section section{
        color:blue;
        width:100%;
        float: left;

    }

    main + section > section{
        width:100%;
        float:left;
    }
    .sectionsola{
        width: 100%;
        float:left;
    }

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
